@media only screen and (max-width: 900px) {
    .center_sm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer {
        display: flex;
        justify-self: center;
        align-items: center;
    }

    .resume_link {
        margin-left: -50px;
    }

    .about_img_container img{
        object-fit: cover;
    }
}